*-min.js
*.iml
*.log
*.log.*
.buildpath
.checkstyle
.classpath
.idea
.project
.settings
.xml
bin
logs
build
target
rebel.xml
.rebel.xml.bak
package-lock.json
*.vscode
*.factorypath
.idea
application.yaml
application.properties
.mvn